body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#root {
  text-align: center;
  
}

main {
  flex: 1 0 auto;
}


#brand{
  font-family:'Poppins', sans-serif;
  font-weight: 700;
  text-shadow: 1.5px 1.5px 1.5px rgb(59, 59, 59);
  padding-left: 1rem;
  padding-top: 0.6rem;
  position:absolute;
  left:0;
  top:0;
}


#mobile-demo{
  max-width:150px;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

.about div {
  border-bottom-style: groove;
}
.about {
  padding-bottom: 3em;
  
}

#adminSideNav button{
  width : 5em;
}
.adminSideNav {
  padding-left: 2em;
}
.card{
  padding-top: 2em;
  padding-bottom: 2em;
}


/* login box form */

.frm1 {
  margin: 10px;
  padding: 30px;

  /* position: ; */
}

.form-c {
  background-color: whitesmoke;
  /* background-color: slateblue; */
  margin-bottom: 2px;
}
.form-row {
  padding: 0px 30px 0px 30px;
  color: black;
  background: rgba(154, 154, 154, 0.5);
  border-radius: 15px;
  margin: 20px 0px 20px 0px;
}
.lgn.details {
  background: rgba(201, 201, 201, 0.55);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);

  /* background-color: thistle; */
  margin-top: 10%;
  margin-bottom: 10%;
  padding: 15px 15px 10px 15px;
  border-radius: 15px;
}
.lgn-inner {
  /* background-color: #f02199; */
  display: flex;
  justify-content: center;
  /* position: absolute; */
}

.form-row.btn {
  margin-bottom: 30px;
}
.form-row input {
  border-bottom: 1px solid white !important;
  /* color: white !important; */
}
.form-row input:active {
  border-bottom: 1px solid white !important;
  /* color: white !important; */
}

.lgn-row-2 {
  margin-top: 20px;
  border-bottom: 1px solid #d7d7d7;
  border-top: 1px solid #a1a1a1;
  line-height: 0;
  text-align: center;
}
.sid span {
  font-size: medium;
  background-color: whitesmoke;
  padding: 1px 3px 1px 3px;
}
.lgn-row-2 {
  background-color: whitesmoke;
  margin-bottom: 15px;
}

.blur {
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -ms-filter: blur(4px);
  -o-filter: blur(4px);
  filter: blur(4px);
}
/* .app-logos{
  background-color: #b30202;
  padding: 20px;
} */
.app-lg {
  margin-left: 25px;
  padding: 10px 20px 10px 10px;
  border: 1px solid black;
  background-color: whitesmoke;
}
.app-lg.a {
  margin-right: 10px;
  float: left;
}
.app-lg.b {
  float: right;
}

.regis {
  margin-top: 25px;
  padding: 10px;
  float: right;
}
.fano-text {
  display: none;
}
@media all and (max-width: 500px) {
  .fano-text {
    display: contents !important;
  }
  .frm1 {
    margin: 10px;
    padding: 10px;
    border: none;
    /* border-top: 10px; */
    /* position: ; */
  }
  h1.fano-text {
    font-weight: 800;
    color: #61dafb;
  }
  .lgn.details {
    background: rgba(201, 201, 201, 0.55);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-top: 1px solid rgb(163, 151, 151);
    border-radius: 50px;
  }
  .form-c {
    background-color: #61dafb;
  }
  .lgn-inner {
  }
}
.annot-boxs {
  display: flex;
  justify-content: space-between;
  margin: 5% 250px 25px 250px;
  padding: 10px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 1px 5px 4px #e4e4e4;
}
.annot-img {
  margin-left: 10%;
  background-color: white;
  padding: 5px;
  float: left;
}
.annotation-row {
  margin: 25px;
  padding: 25px;
  background-color: whitesmoke;
  float: right;
  border-radius: 20px;
}
.annot-txt {
  font-size: large;
  font-weight: 600;
  color: black;
}
/* .annot-btn{
  
  color: white;
padding: 10px;
margin: 10px;
  border: #61dafb;
} */

.lgn-btn {
  background-color: white;
  padding: 5px;
  border-radius: 5px 5px;
  border-color: white;
  margin-top: 10px;
}
.lgn-btn {
  background-color: white;
}
.annot-c {
  background-color: white;
  padding: 10px;
  border-radius: 15px;
}
.annot_row input {
  border-bottom: 1px solid white !important;
  /* color: white !important; */
}
.annot_row input:active {
  border-bottom: 1px solid white !important;
  /* color: white !important; */
}

.terms.policy{
  text-align: left;
}


.card {
  border-radius: 30px !important;
}

.userpage {
  margin-top: 5rem;
}

.overview-card {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.cardSettings {
  padding: 10%;
}

.skipButton {
  margin-top: 1rem;
}

.annoateButtons {
  border-radius: 50px;
  margin-top: 1rem;
  font-weight: 500;
  padding: 0px 30px 0 30px;
}

.marginFromFooter {
  margin-bottom: 5rem;
}

.annotationPage {
  margin-top: 5rem;
}

.body-sign-in-register {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  background-image: url("https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center;
  background-size:cover;
  z-index: -10;
  margin-top: -70px;
}

.redirect {
  color: rgb(6, 89, 215);
}

.blockButton {
  width: 100%;
  border: none;
  border-radius: 15px;
  font-weight: 500;
}

.cardsAboutContact {
  margin-top: 5rem;
}

.tableButtons {
  border-radius: 50px;
  font-weight: 500;
}

.navbarblur {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 0px 0px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 0px solid rgba(255, 255, 255, 0.18);
}


.register{
  margin-top: 6rem;
}

nav ul a {
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  font-size: 1rem;
  color: rgb(0, 0, 0);
  display: block;
  padding: 0 15px;
  cursor: pointer;
  font-weight: 500;
}

.waves-effect.waves-blue .waves-ripple {
  background-color: #64b5f6;
 }

 .iconBG{
   color: black;
   font-size: 30px !important;
 }