body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


#brand{
  color: white;
  font-size: 50px;
  font-family:'Roboto', sans-serif;
  font-weight: 700;
  text-shadow: 1.5px 1.5px 1.5px rgb(59, 59, 59);
  padding-left: 0.1em;
}

nav ul li{
  text-shadow: 2px 2px 2px rgb(59, 59, 59);
}
#mobile-demo{
  max-width:150px;
}
footer {
  position:  absolute;
  bottom: 0;
  width: 100%;
}
#page-container {
  position: relative;
  min-height: 100vh;
}
.about .header{
  font-family:'Taviraj', serif;
  font-weight: 700;
  border-bottom: solid 1px #666;
}
.about div {
  border-bottom-style: groove;
}
.about {
  padding-bottom: 3em;
  
}
.about h5{
  font-family:'Taviraj', serif;
  font-weight: 300;
}

.contact .header{
  font-family:'Taviraj', serif;
  font-weight: 700;
  border-bottom: solid 1px #666;
}
#adminSideNav button{
  width : 5em;
}
.adminSideNav {
  padding-left: 2em;
}
.card{
  padding-top: 2em;
  padding-bottom: 2em;
}
