body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#root {
  text-align: center;
  
}

main {
  flex: 1 0 auto;
}


#brand{
  color: white;
  font-size: 50px;
  font-family:'Poppins', sans-serif;
  font-weight: 700;
  text-shadow: 1.5px 1.5px 1.5px rgb(59, 59, 59);
  padding-left: 0.1em;
}

nav ul li{
  text-shadow: 2px 2px 2px rgb(59, 59, 59);
}
#mobile-demo{
  max-width:150px;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

.about div {
  border-bottom-style: groove;
}
.about {
  padding-bottom: 3em;
  
}

#adminSideNav button{
  width : 5em;
}
.adminSideNav {
  padding-left: 2em;
}
.card{
  padding-top: 2em;
  padding-bottom: 2em;
}
